@{
    ViewData["Title"] = "About";
}



<div class="edu">
      <h2>Education</h2>
      <ol>
        <li><em>Bachelors</em> <strong>Computer Sc</strong> 2005-2009</li>
        <li><em>MBA</em> <strong>Marketing</strong> 2010-2012</li>
      </ol>
      </div>

 <h2>Job Experience</h2>
      <p>Assitant Manager 04/2012-02/2016</p>
      <footer>The Federal Bank Limited India</footer>
      <br>
      <ul>
        <li>Defined,<span class="light"> analyzed and evaluated</span> financial data in support of organization objectives.</li>
        <li>Supervised a wide variety of <span class="light">administrative tasks</span>, and worked with clients to resolve issues quickly and efficiently.</li>
        <li>Extensive use of <span class="light">Excel</span> to analyze, research and reconcile financial data to help management arrive at important strategic decisions.</li>
        <li>Worked with <span class="light">clients, uncovering their financial</span> priorities and delivered customized solutions tailored to fit their needs.</li>
        <li>Processed incoming checks, wires, retail loan proposals, gold loans, mutual funds and other requests from clients.</li>
        <li>Initiated <span class="light">strategic consulting, including business plan</span> & sales strategy development.</li>
        <li>Played a crucial part of the Eastern India Federal bank team when cheque Clearing system migrated from MICR code to CTS in December,2012.</li>
      </ul>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div class="well">
          <h2>Skills</h2>
          <ul>
            <li>Programming Languages: HTML,CSS,JavaScript,C#</li>
            <li>Frameworks: Bootstrap, Angular, Asp Dotnet Core</li>
            <li>Databases: MySQl, FireBase</li>   
            <li>Interpersonal Skills: Listening,Negotiation,Problem Solving,Decision Making,Communications</li>
          </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="well">
            <h2>Hobbies</h2>
            <ul>
              <li>Singing</li>
              <li>Travelling</li>
              <li>Painting</li>
              <li>Cooking</li>
              <li>Social-Media Networking</li>
            </ul>
          </div>
        </div>