@{
    ViewData["Title"] = "Home Page";
}
<div class="intro-section section">
    Hello, I am intro
</div>
<div class="about-me-section section" id="aboutme">
    Hello I am about me
</div>
<div class="projects-section section">
</div>
<div class="contact-section section">
</div>


