@{
    ViewData["Title"] = "Home Page";
}
<div class="intro-section section">
    <div class="text-wrapper">
        <div class="profile_image">
        </div>
        <p>Hello, I'm <span class="full-name">Saneyee Sarkar</span></p>
        <p class="intro-minor">Junior Full Stack Web Developer</p>
        <div class="flat-rect-button">
            <span>View my work -></span>
        </div>
    </div>
</div>
<div class="about-me-section section" id="aboutme">
    <div class="about-me-wrapper">
        <p class="header-text">ABOUT ME</p>
        <div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum</p>
        </div>
    </div>
</div>
<div class="projects-section section" id="projects">
    <div class="about-me-wrapper">
        <p class="header-text">PROJECTS</p>
        <div>
            Project List
        </div>
    </div>
</div>
<div class="contact-section section" id="contact">
    <div class="about-me-wrapper">
        <p class="header-text">CONTACT ME</p>
        <div>
            
        </div>
    </div>
</div>



